<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <title>You've created a Surfspot!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h2>You've created a Surfspot!</h2>
<p th:text="'Name: ' + ${surfspot.name}"></p>
<p th:text="'Address of the Surfspot: ' + ${surfspot.surfSpotAddress}"></p>
<a href="/surfspottable">See all Surfspots</a>
<a href="/createsurfspot">Create a new Surfspot</a>
</body>
</html>