<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" xmlns:th="https://thymeleaf.org" lang="en">
<head>
    <title>These are your favourite Surfspots!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<h2>Here are all Surfspots!</h2>
<form action="#" th:action="@{/surfspottable}" th:object="${surfspots}" method="get">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Surf Spot Address</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${surfspots.isEmpty()}">
            <td colspan="2">No Surfspots available</td>
        </tr>
        <tr th:each="surfspot : ${allSurfSpots}">
            <th scope="row">1</th>
            <td><span th:text="${surfSpot.name}">Name</span>
                <span th:text="${surfSpot.surfSpotAddress}">SurfSpotAddress</span>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="/createsurfspot">Create more surfspots</a>
</form>
</body>
</html>