<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Create Surfspots!</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script src="#" th:src="@{dynamic-form.js}" defer></script>
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://github.com/giraffe45/wipeout/blob/main/src/main/resources/static/dynamic.js"></script>
</head>
<body>
<h2>Create a Surfspot</h2>
<div id="app">
  <dynamic-form title="Here are all surfspots:"></dynamic-form>
</div>
</body>
</html>